.input {
  width: 100%;
  border: 2px solid #422956;
  background-color: #53436c;
  color: white;
  font-size: 1.3rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: opacity 0.2s;
  &:disabled {
    opacity: 0.7;
  }
}
